.btn{
    background-color: #6666AA;
}
.btn:hover{
    background-color: #0000FF;
}
.btn1{
    background-color: #BBBBBB;
}
#textmsg{
    background-color: #BBBB00;
    text-align: center;
}
#textmsg:hover{
    background-color: #888800;
    border:  3px solid black ;
    font-weight: bold;
    color: white;
}