.cell20{
    display: inline-block;
    background-color:lightgray;
    width: 10%;
    margin: 1px;
    text-align: center;
    color: black
}
.cell30{
    display: inline-block;
    background-color: green;
    color: white;
    margin: 1px;
    width: 10%;
    text-align: center;
}
.cell40{
    display: inline-block;
    background-color: lightgreen;
    color: white;
    margin: 1px;
    width: 10%;
    text-align: center;
}
.cell50{
    display: inline-block;
    background-color: lightpink;
    color: white;
    margin: 1px;
    width: 10%;
    text-align: center;
}
.cell10{
    background-color: black;
    display: inline-block;
    width: 10%;
    color: white;
    text-align: center;
}
.cell101{
    background-color: black;
    display: inline-block;
    width: 10%;
}
  