.cell{
    display: inline-block;
    width: 30%;
    text-align: center;
    background-color: grey;
    color:white;
    margin: 1px;
}
.cell1{
    display: inline-block;
    width: 15%;
    text-align: center;
    background-color: grey;
    color:white;
    margin: 1px;
}