.divsn{
    display: inline-block;
    width: 28%;
    border: 2px solid gray;
    background-color: black;
    color: white;
   
}
.div2{
    display: inline-block;
    width: 28%;
    border: 2px solid gray;
    background-color: black;
    color: white;
}
.div3{
    display: inline-block;
    width: 28%;
    border: 2px solid gray;
    background-color: black;
    color: white;
}
