
#clear{
    width: 130px;
}
.calci{
    margin: auto;
    width: 130px;
    height: 261px;
    border:2px solid black;
    background-color:rgb(149, 173, 216);
}
input{
    width: 40px;
    background-color:rgb(113, 126, 151);
}
#textbox{
    width: 130px;
}