.btn{
    background-color: blue;
    color: white;
}
.btn1{
    background-color: red;
    color: white;
}
.tie{
    background-color: #444444;
    color: white;
}
.coca{
    background-color: red;
    color: white;
}
.pepsi{
    background-color: blue;
    color: white;
}