.btn{
    background-color: #0000FF;
}
.txt1{
    background-color: #0000FF;
    text-align: left;
}
.txt2{
    background-color: #DDDDDD;
    text-align: left;
}
.txt3{
    background-color: #999999;
    text-align: center;
}
.txt4{
    background-color: #444444;
    text-align: right;
}
