body{
    background-image: url(pic.jfif);

}
.otp{
    position: absolute;
    text-align: center;
    top: 45%;
    left: 50%;
    width:360px;
    height:10em;
    padding: 20px;
    font-family: sans-serif;
    margin-top: -9em; 
    margin-left: -15em; 
    background-color: #f3f3f3;
  
}
.otp otp1{
    background-color: slategray;
}
